 :root {
     --primary-color: #663290;
     --secondary-color: #ffffff;
     --text-color: #222;
     --background-color: #ffffff90;
     --border-color: #ffffff;
     --font-family: 'Segoe UI', Arial, sans-serif;
     --font-size: 16px;
     --border-radius: 12px;
     --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     margin: 0;
     font-family: 'Segoe UI', Arial, sans-serif;
     background: linear-gradient(135deg, var(--secondary-color) 0%, var(--primary-color) 100%);
     background-size: cover;
     color: #222;
 }

 .navbar {
     display: flex;
     position: fixed;
     justify-content: space-between;
     top: 0;
     width: 100%;
     background-color: var(--primary-color);
     color: var(--secondary-color);
     align-items: center;
     padding: 16px 24px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     z-index: 2;
 }

 .logo {
     font-size: 1.5rem;
     font-weight: bold;
     color: var(--secondary-color);
 }

 .github :hover {
     color: var(--primary-color);
     transform: scale(1.05);
     transition: transform 0.2s;
 }

 .nav-links {
     list-style: none;
     display: flex;
     gap: 20px;
 }

 .nav-links a {
     text-decoration: none;
     color: var(--secondary-color);
     font-weight: 500;
     transition: color 0.3s;
 }

 .nav-links a:hover {
     color: #4f46e5;
 }


 .menu-toggle {
     color: white;
     font-size: 1.5rem;
     background: none;
     border: none;
     cursor: pointer;
     display: none;
     z-index: 2;
     transition: color 0.3s;
 }


 .main-content {
     max-width: 900px;
     margin: 2rem auto;
     background: #ffffff00;
     border-radius: var(--border-radius);
     padding: 2rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }


 .main-content h1 {
     text-align: center;
     font-size: 2.5rem;
     margin-bottom: 1rem;
 }

 .content {
     display: flex;
     max-width: 900px;
     margin: 2rem auto;
     background: var(--background-color);
     position: relative;
     overflow: hidden;
     border-radius: var(--border-radius);
     box-shadow: 0 2px 8px var(--box-shadow);
     padding: 0;
     flex-direction: column;
     align-content: center;
     align-items: center;
     justify-content: center;
     border: var(--border-color) solid 2px;
 }

 .content p {
     padding: 0 1rem;
     font-size: 1.1rem;
     line-height: 1.7;
     font-family: 'Courier New', Courier, monospace;
     font-style: normal;
     text-align: justify;

 }

 .th1 {
     background: linear-gradient(135deg,
             #ffd500 0%,
             #f7e98e 15%,
             #f5d76e 30%,
             #e6b800 45%,
             #ffdb4a 60%,
             #f6ba07 75%,
             #ffbf00 100%) !important;
     background-size: cover !important;
 }

 .th2 {
     background: linear-gradient(135deg,
             #ff9900 0%,
             #f7cb8e 15%,
             #f5b66e 30%,
             #e69200 45%,
             #cf6b00 60%,
             #a64b00 75%,
             #7c4200 100%) !important;
 }

 .th3 {
     background: linear-gradient(135deg,
             #393530 0%,
             #816d52 15%,
             #9b9184 30%,
             #beb29b 45%,
             #c0b1a2 60%,
             #968c83 75%,
             #4f4c49 100%) !important;
 }

 .position {
     display: flex;
     background-color: var(--primary-color);
     width: 100%;
     color: #fff;
     border-bottom: var(--border-color) solid 2px;
     flex-direction: row;
     align-content: center;
     justify-content: space-around;
     align-items: center;
 }

 .th {
     font-style: italic;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .subcontent {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 2rem;
 }

 .subcontent p {
     padding: 1rem;
     border: var(--border-color) solid 2px;
     background-color: var(--secondary-color);
     border-radius: var(--border-radius);
     height: 150px;
     color: var(--primary-color);
     overflow-y: auto;
 }


 .profile {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 2rem;
 }

 .profile img {

     width: 200px;
     height: 200px;
     border: var(--border-color) solid 8px;
     border-radius: 50%;
     object-fit: cover;
     display: block;
     margin: auto;

 }

 .profile :hover {
     transform: scale(1.05);
     transition: transform 0.2s;
 }

 .footbar {
     background: var(--primary-color);
     border-top: var(--border-color) solid 2px;
     color: #fff;
     text-align: center;
     padding: 1rem 0;
     width: 100%;
     bottom: 0;
     left: 0;
     font-size: 1rem;
 }

 @media (max-width: 768px) {
     .menu-toggle {
         display: block;
         position: fixed;
         right: 25px;
     }

     .nav-links {
         display: none;
         flex-direction: column;
         gap: 10px;
         width: 100%;
         background-color: #fff;
         padding: 16px;
     }

     .nav-links a {
         font-size: 15pt;
     }

     .nav-links.show {
         top: 0;
         left: 0;
         position: fixed;
         display: flex;
         width: 100%;
         height: 100%;
         align-items: center;
         flex-direction: column;
         background-color: var(--primary-color);
         z-index: 1;
         justify-content: space-around;
         overflow: hidden;
     }

     .main-content {
         padding: 1rem;
         margin: 2rem 0 3rem 0;
     }

     .main-content h1 {
         font-size: 15pt;
         margin: 1rem;
     }

     .content {
         display: flex;
         max-width: 900px;
         margin: 2rem auto;
         flex-direction: column;
         align-content: center;
         align-items: center;
         justify-content: center;
     }

     .position{
        justify-content: flex-start;
     }

     .subcontent {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 0 2rem 2rem 2rem;
     }

     .subcontent p {
         padding: 2rem;
         height: 150px;
         overflow-y: auto;
     }



     .profile {
         margin: 1rem;
     }


     .profile img {
         width: 150px;
         height: 150px;
     }
 }